#!/bin/bash
#
# Title:      PGBlitz (Reference Title File)
# Authors:    Admin9705, Deiteq, and many PGBlitz Contributors
# URL:        https://pgblitz.com - http://github.pgblitz.com
# GNU:        General Public License v3.0
################################################################################
[Unit]
Description='PGBlitz Loaded Balanced Multi SA GDrive Uploader'
After=multi-user.target network-online.target

[Service]
Type=simple
User=0
Group=0
ExecStart=/bin/bash /opt/appdata/plexguide/pgblitz.sh
KillMode=process

[Install]
WantedBy=multi-user.target
