#!/bin/bash
#
# Title:      Reference Title File - PGBlitz
# Author(s):  Admin9705 & https://github.com/PGBlitz/PGClone/graphs/contributors
# URL:        https://pgblitz.com - http://github.pgblitz.com
# GNU:        General Public License v3.0
################################################################################
[Unit]
Description={{drive}} Daemon
After=multi-user.target

[Service]
Type=simple
User=0
Group=0
ExecStart=/usr/bin/rclone mount {{drive}}: /pg/{{drive}} \
--config /pg/rclone/blitz.conf \
--allow-non-empty \
--allow-other \
--size-only \
--uid=1000 --gid=1000 \
--umask 002 \
--log-file=/pg/logs/{{drive}}.log \
--log-level INFO \
--drive-use-trash=false \
--timeout 1h \
--vfs-cache-mode writes \
--dir-cache-time {{dct}} \
--vfs-cache-max-age {{cma}} \
--vfs-read-chunk-size {{rcs}} \
--vfs-read-chunk-size-limit {{rcsl}} \
--drive-chunk-size {{dcs}} \
--user-agent={{uagent.stdout}} \
--buffer-size {{bs}}

ExecStop=/bin/fusermount -uz /pg/{{drive}}
TimeoutStopSec=20
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
