#!/bin/bash
#
# Title:      PGBlitz (Reference Title File)
# Author(s):  Admin9705
# URL:        https://pgblitz.com - http://github.pgblitz.com
# GNU:        General Public License v3.0
################################################################################

[Unit]
Description={{drive}} Daemon
After=multi-user.target

[Service]
Type=simple
User=0
Group=0
ExecStart=/usr/bin/rclone mount {{drive}}: /mnt/{{drive}} \
--config /opt/appdata/plexguide/rclone.conf \
--allow-non-empty \
--allow-other \
--size-only \
--uid=1000 --gid=1000 \
--umask 002 \
--log-file=/var/plexguide/logs/rclone-{{drive}}.log \
--log-level ERROR \
--timeout 1h \
--dir-cache-time {{vfs_dct}}m \
--vfs-cache-max-age {{vfs_cma}}h \
--vfs-read-chunk-size {{vfs_rcs}}M \
--vfs-read-chunk-size-limit {{vfs_rcsl}}G \
--drive-chunk-size {{vfs_dcs}}M \
--buffer-size {{vfs_bs}}M

ExecStop=/bin/fusermount -uz /mnt/{{drive}}
TimeoutStopSec=20
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
