#!/bin/bash
#
# Title:      PGBlitz (Reference Title File)
# Author(s):  Admin9705
# URL:        https://pgblitz.com - http://github.pgblitz.com
# GNU:        General Public License v3.0
################################################################################

[Unit]
Description={{drive}} Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/appdata/plexguide/{{drive}}.sh
ExecStop=/bin/fusermount -uz /mnt/{{drive}}
TimeoutSec=60
KillMode=process
User=0
Group=0

[Install]
WantedBy=multi-user.target
