#!/bin/bash
#
# Title:      PGBlitz (Reference Title File)
# Authors:    Admin9705, Deiteq, and many PGBlitz Contributors
# URL:        https://pgblitz.com - http://github.pgblitz.com
# GNU:        General Public License v3.0
################################################################################

[Unit]
Description={{drive}} Daemon
After=multi-user.target

[Service]
Type=notify
EnvironmentFile=/opt/appdata/plexguide/rclone.env
ExecStart=/usr/bin/rclone mount {{drive}}: /mnt/{{drive}} \
--config=/opt/appdata/plexguide/rclone.conf \
--log-file=/var/plexguide/logs/rclone-{{drive}}.log \
--log-level="${vfs_ll}" \
--uid=1000 --gid=1000 --umask=002 \
--allow-other \
--timeout=1h \
--tpslimit=10 \
--user-agent="${uagent}" \
--dir-cache-time="${vfs_dct}" \
--vfs-cache-mode="${vfs_cm}" \
--vfs-cache-max-age="${vfs_cma}" \
--vfs-cache-max-size="${vfs_cms}" \
--vfs-read-chunk-size-limit="${vfs_rcsl}" \
--vfs-read-chunk-size="${vfs_rcs}" \
--buffer-size="${vfs_bs}"
ExecStop=/bin/fusermount -uz /mnt/{{drive}} > /dev/null
TimeoutSec=60
User=0
Group=0

[Install]
WantedBy=multi-user.target
