#!/bin/bash
#
# Title:      PGBlitz (Reference Title File)
# Author(s):  Admin9705
# URL:        https://pgblitz.com - http://github.pgblitz.com
# GNU:        General Public License v3.0
################################################################################
[Unit]
Description='PGBlitz Loaded Balanced Multi SA GDrive Uploader'
After=multi-user.target network-online.target

[Service]
User=0
Group=0
Type=simple
ExecStart=/bin/bash /opt/appdata/plexguide/pgblitz.sh
KillMode=process

[Install]
WantedBy=multi-user.target
