#!/bin/bash
#
# Title:      PGBlitz (Reference Title File)
# Authors:    Admin9705, Deiteq, and many PGBlitz Contributors
# URL:        https://pgblitz.com - http://github.pgblitz.com
# GNU:        General Public License v3.0
################################################################################
[Unit]
Description=PGUnion
After=multi-user.target
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
User=0
Group=0
ExecStart=/bin/bash /opt/appdata/plexguide/pgunion.sh
ExecStop=/bin/fusermount -uzq /mnt/unionfs
TimeoutStopSec=60
KillMode=process
RemainAfterExit=yes
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
