#!/bin/bash
#
# Title:      Reference Title File - PGBlitz
# Author(s):  Admin9705 & https://github.com/PGBlitz/PGClone/graphs/contributors
# URL:        https://pgblitz.com - http://github.pgblitz.com
# GNU:        General Public License v3.0
################################################################################
[Unit]
Description='PGBlitz.com Unity Service'
After=multi-user.target

[Service]
Type=simple
User=0
Group=0
ExecStart=/bin/bash /pg/rclone/pgunity.sh
ExecStop=/bin/fusermount -uz /pg/unity
TimeoutStopSec=20
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
