#!/bin/bash
#
# Title:      PlexGuide (Reference Title File)
# Author(s):  Admin9705
# URL:        https://plexguide.com - http://github.plexguide.com
# GNU:        General Public License v3.0
################################################################################
[Unit]
Description=TCrypt Daemon
After=multi-user.target

[Service]
Type=simple
User=0
Group=0
ExecStart=/usr/bin/rclone mount tcrypt: /mnt/tcrypt \
  --allow-non-empty --allow-other \
  --size-only --syslog --umask 002 --log-level INFO \
  --uid=1000 --gid=1000 --config /opt/appdata/plexguide/rclone.conf \
  --timeout 1h \
  --vfs-read-chunk-size 128M \
  --vfs-read-chunk-size-limit off \
  --buffer-size 256M \
  --dir-cache-time 5m \
  --drive-chunk-size 32M
ExecStop=/bin/fusermount -uz /mnt/tcrypt
TimeoutStopSec=20
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
