#!/bin/bash
#
# Title:      PlexGuide (Reference Title File)
# Author(s):  Admin9705
# URL:        https://plexguide.com - http://github.plexguide.com
# GNU:        General Public License v3.0
################################################################################

[Unit]
Description=TDrive Daemon
After=multi-user.target

[Service]
Type=simple
User=0
Group=0
ExecStart=/usr/bin/rclone mount tdrive: /mnt/tdrive \
--config /opt/appdata/plexguide/rclone.conf \
--allow-non-empty \
--allow-other \
--size-only \
--uid=1000 --gid=1000 \
--umask 002 \
--log-file=/var/plexguide/logs/rclone-gdrive.log \
--log-level INFO \
--stats 5s \
--min-age=2m \
--timeout 1h \
--dir-cache-time 48h \
--vfs-read-chunk-size 32M \
--vfs-read-chunk-size-limit 5G \
--buffer-size 500M \
--drive-chunk-size 32M

ExecStop=/bin/fusermount -uz /mnt/tdrive
TimeoutStopSec=20
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
