#!/bin/bash
#
# Title:      PlexGuide (Reference Title File)
# Author(s):  Admin9705
# URL:        https://plexguide.com - http://github.plexguide.com
# GNU:        General Public License v3.0
################################################################################
[Unit]
Description=UnionFS
After=multi-user.target
[Service]
Type=simple
User=0
Group=0
ExecStart=/usr/bin/mergerfs -o defaults,allow_other,use_ino,nonempty,statfs_ignore=ro,security_capability=false,xattr=nosys,category.create=epall,func.mkdir=epall,minfreespace=2G,umask=002,noatime,fsname=pgPool /mnt/move=RW:/mnt/gdrive=NC:/mnt/tdrive=NC:/mnt/tcrypt=NC:/mnt/gcrypt=NC:/mnt/downloads=RW /mnt/unionfs
ExecStop=/bin/fusermount -uz /mnt/unionfs
TimeoutStopSec=20
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
